@mixin content-width-lg {
    padding-left: calc((100% - #{$width-lg}) / 2);
    padding-right: calc((100% - #{$width-lg}) / 2);
    @media screen and (max-width: 1118px) {
        padding: 0;
    }
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        display: inline-block;
    }
}
