$color-primary: #f07f7f;
$color-primary-light: #f5adad;
$color-primary-dark: #eb5151;

$color-secondary: #948af7;
$color-secondary-light: #776af5;
$color-secondary-dark: #5a4af3;

$color-tertiary: #b35ff1;
$color-tertiary-light: #c98ef5;
$color-tertiary-dark: #9d30ed;

$color-light-100: #d7d7d7;
$color-light-50: #e8e8e8;
$color-light: #f9f9f9;

$color-heading: #0c3c5f;

$color-grey: #262626;
$color-grey-dark: #0d0d0d;
$color-grey-light: #484848;

$color-white: #fff;
$color-black: #000;

// fonts

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Quicksand", sans-serif;

$font-size: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-md: 2.4rem;
$font-size-lg: 3.3rem;
$font-size-xl: 7.6rem;

// spacing

$rem-sm: 1.4rem;
$rem-md: 3.2rem;
$rem-lg: 7.5rem;
$rem-xl: 12rem;
