$color-primary: #2c2d34;
$color-secondary: #f2910a;
$color-tertiary: #e94822;
$color-tertiary-2: #efd510;

$color-text-bold: #141219;
$color-text-light: #666666;

$color-white: #ffffff;
$color-black: #000000;
$color-light: #f8f8f8;

// fonts
$font-barlow: "Barlow", sans-serif;
$font-condensed: "Barlow Condensed", sans-serif;

$width-lg: 111.9rem;

$font-size: 1.8rem;
// $font-size-sm: 1.4rem;
// $font-size-md: 2.4rem;
// $font-size-lg: 3.3rem;
// $font-size-xl: 7.6rem;

// // spacing

// $rem-sm: 1.4rem;
// $rem-md: 3.2rem;
// $rem-lg: 7.5rem;
// $rem-xl: 12rem;
