.footer {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;

    &__main {
        flex-grow: 1;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__meta {
        width: 100%;
        border-top: solid 0.1rem $color-text-light;
        text-align: center;
        padding: 2rem 0;
    }
}
