.navbar {
    @include content-width-lg;
    display: flex;
    position: fixed;
    align-items: center;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.6rem;
    background-color: rgba($color-primary, 0.75);
    z-index: 1000;

    &__toggler {
        margin-right: 2rem;
        cursor: pointer;
        display: none;

        @include respond(tab-port) {
            display: inline-block;
        }

        &--container {
            height: 3.5rem;
            width: auto;
            padding: 0.5rem;
            padding-left: 1.3rem;
            border: solid 1px $color-text-light;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &--bars {
            height: 1px;
            width: 2.5rem;
            background-color: $color-light;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-light;
                margin-left: -0.7rem;
            }

            &::before {
                margin-top: -0.6rem;
            }

            &::after {
                margin-top: 0.6rem;
            }
        }
    }

    &__brand {
        cursor: pointer;
        &--title {
            color: $color-secondary;
            letter-spacing: 0.3rem;
            font-family: $font-condensed;
            font-weight: 200;
        }
    }

    &__nav {
        @include horizontal-list;
        margin-left: auto;
        height: 100%;

        &--item {
            &:not(:last-child) {
                margin-right: 4rem;
            }

            @include respond(tab-port) {
                &:not(:last-child) {
                    display: none;
                }
            }
        }

        &--link {
            color: $color-light;

            &-active {
                color: $color-secondary;
            }
        }
    }

    &__user {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;

        &--icon {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__account {
        position: relative;

        &:not(:hover) &--dropdown {
            display: none;
        }

        &:hover &--dropdown {
            background-color: $color-primary;
            padding: 1rem;
            box-shadow: 0.1rem 0.2rem 1rem
                rgba($color: $color-primary, $alpha: 0.4);
            position: absolute;
            top: 100%;
            right: 0;
            width: 25rem;
            min-height: 5rem;
            color: $color-white;
        }
    }

    &__userOptions {
        list-style: none;
        color: $color-white;
        display: flex;
        flex-direction: column;

        &-link {
            color: $color-white;

            &:hover {
                color: $color-secondary;
            }
        }
    }
}

.mt-56 {
    margin-top: 18.6rem;
}
