html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  overflow-x: hidden; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1; }

img,
span,
a {
  display: inline-block; }

section,
header,
footer {
  width: 100%;
  overflow-x: hidden; }

h1,
h2,
h3 {
  font-weight: unset; }

body {
  text-transform: none;
  text-decoration: none;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif; }

p:not(.title) {
  line-height: 1.32; }

a {
  text-decoration: none; }

li a {
  text-decoration: underline;
  color: #0288d1; }

.mdl-card {
  overflow: visible; }

.grecaptcha-logo {
  background-color: white; }

.mdl-grid {
  max-width: 1024px;
  margin: auto; }

.mdl-layout__header-row {
  padding: 0; }

.quickstart-user-details-container,
.user-details-container {
  margin-top: 20px;
  line-height: 25px; }

#quickstart-sign-in-status,
#sign-in-status {
  font-weight: bold; }

pre {
  overflow-x: scroll;
  line-height: 18px; }

code {
  white-space: pre-wrap;
  word-break: break-all; }

#verification-code-form {
  display: none; }

#recaptcha-container {
  margin-top: 10px;
  margin-bottom: 20px; }

#verify-code-button,
#cancel-verify-code-button {
  margin-left: 20px; }

#sign-out-button {
  display: none; }

#sign-in-card {
  z-index: 2; }

.bolder {
  font-weight: 400 !important; }

.font-smaller {
  font-size: 1.5rem; }

.font-xsm {
  font-size: 1rem !important;
  line-height: 0.9 !important; }

.ml-7 {
  margin-left: 6.5rem !important; }

.mb-7 {
  margin-bottom: 6.5rem !important; }

.pl-7 {
  padding-left: 6.5rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-7 {
  margin-top: 7rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-sm {
  margin-bottom: 0.5rem !important; }

.mt-auto {
  margin-top: auto; }

.mx-auto {
  margin: initial auto !important; }

.text-light {
  color: #f8f8f8 !important; }

.text-black {
  color: #000000 !important; }

.text-white {
  color: #ffffff !important; }

.text-secondary {
  color: #f2910a !important; }

.text-tertiary {
  color: #e94822 !important; }

.text-tertiary-2 {
  color: #efd510 !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex;
  align-items: center; }

.d-inline-block {
  display: inline-block; }

.d-inline-flex {
  display: inline-flex; }

.w-auto {
  width: auto !important; }

.w-100 {
  width: 100%; }

.ml-auto {
  margin-left: auto; }

.check-box {
  vertical-align: center;
  text-align: center; }
  .check-box-35 {
    width: 3.5rem;
    height: 3.5rem; }
  .check-box-25 {
    width: 2.5rem;
    height: 2.5rem; }
  .check-box > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.8; }

.al {
  display: flex;
  padding-top: 5.6rem;
  min-height: 100vh;
  width: 100%; }
  .al-aside {
    background-color: #2c2d34;
    transition: ease-out 0.3s width;
    flex: 0 0 20rem;
    position: -webkit-sticky;
    position: sticky;
    top: 5.6rem; }
    .al-aside__hide-input {
      display: none; }
    .al-aside__hide-label {
      margin-left: auto;
      height: 2rem;
      width: 2rem;
      position: relative; }
    .al-aside__hide-label::after {
      content: "\27A4";
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #e94822; }
  .al__navbar-link {
    padding: 1rem 0;
    color: #ffffff;
    padding-left: 1rem;
    text-decoration: none;
    width: 100%; }
    .al__navbar-link-active {
      background-color: #f2910a; }
  .al__navbar-dropdown {
    background-color: rgba(255, 255, 255, 0.3); }
    .al__navbar-dropdown * .al__navbar-link {
      padding-left: 3rem; }
  .al-main {
    flex: 1 0 calc(100% - 20rem); }

.btn, .btn:visited, .btn:link {
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  background-clip: padding-box;
  transition: all 0.3s ease-out;
  padding: 1rem 2rem;
  background-color: transparent;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
  border: 1px solid;
  border-color: currentColor;
  transition: all 0.3s ease-out; }

.btn--light {
  border-color: #666666;
  color: #f8f8f8; }

.btn--primary {
  color: #2c2d34; }

.btn--secondary {
  color: #f2910a; }

.btn--secondary:hover {
  color: #e94822; }

.btn--tertiary {
  color: #e94822; }

.btn__link {
  border: none !important;
  padding: 0.5rem 0 !important;
  position: relative !important;
  color: currentColor;
  cursor: pointer; }
  .btn__link--secondary:hover {
    color: #f2910a; }
  .btn__link--secondary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #f2910a; }
  .btn__link--light::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #f8f8f8; }
  .btn__link--primary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #2c2d34; }
  .btn__link--tertiary:hover {
    color: #e94822; }
  .btn__link--tertiary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #e94822; }

.features {
  list-style: none;
  padding-left: 3rem; }
  .features__item {
    padding: 1rem 0; }

.form-group__two-part {
  display: grid;
  grid-template-areas: "item-1 item-2";
  grid-template-columns: 2fr 5fr;
  grid-gap: 2rem;
  padding: 1rem 0;
  margin-bottom: 2rem; }
  .form-group__two-part--label-container {
    grid-area: item-1; }
  .form-group__two-part--input-container {
    grid-area: item-2; }

.form__container {
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
  border: solid 0.1rem #ddd;
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: #ffffff;
  padding: 3rem 2rem; }

.form__reset {
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #666666;
  line-height: 1.5;
  padding: 0.7rem 1rem;
  border: solid 0.1rem #ddd;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
  display: inline-block; }
  .form__reset:focus, .form__reset:active, .form__reset:hover {
    border-color: #bbb;
    color: #141219; }

.form__input {
  width: 100%; }

.form__select {
  padding: initial 3rem;
  background-color: white; }

.form__quill {
  width: 100%;
  text-align: start; }
  .form__quill > .quill > * {
    border: none; }
    .form__quill > .quill > *:first-child {
      border-bottom: 1px solid #ddd; }

.form__file {
  border: solid 0.1rem #ddd;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
  height: 15rem;
  width: 15rem;
  display: inline-block;
  transition: ease-out 0.3s all;
  position: relative; }
  .form__file--meta {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.3rem 1rem;
    z-index: 10; }
  .form__file--progress {
    height: 2px;
    background-color: #666666;
    width: 100%;
    margin-bottom: 0.5rem; }
    .form__file--progress-bar {
      height: 100%;
      background-color: #f2910a; }
  .form__file--controls {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .form__file--controls > * {
      cursor: pointer; }
  .form__file:focus, .form__file:active, .form__file:hover {
    border-color: #bbb;
    color: #141219; }
  .form__file--img-box {
    height: 100%;
    width: 100%;
    cursor: pointer; }
  .form__file--img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease-out 0.3s filter; }
    .form__file--img:focus, .form__file--img:active, .form__file--img:hover {
      filter: blur(2px) brightness(50%); }

.quill__addons *h1,
.quill__addons h2,
.quill__addons h3 {
  text-transform: uppercase !important;
  text-decoration: none !important;
  display: block !important;
  font-family: "Barlow Condensed", sans-serif !important;
  letter-spacing: 0.2rem !important;
  font-weight: 200 !important; }

.quill__addons *h1 {
  font-size: 9rem !important;
  color: #f2910a; }

.quill__addons * h2 {
  font-size: 2.8rem !important; }

.multi-step-bar {
  display: flex; }
  .multi-step-bar__container {
    width: 80%;
    margin: 1rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .multi-step-bar__container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      height: 0.2rem;
      top: 50%;
      background-color: #2c2d34;
      z-index: 0; }
  .multi-step-bar__item {
    background-color: #666666;
    color: #ffffff;
    z-index: 2;
    border: none; }
    .multi-step-bar__item--visited {
      background-color: #f2910a;
      color: #000000; }

.title {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 200; }
  .title--lg {
    font-size: 9rem; }
  .title--md {
    font-size: 2.8rem; }
  .title--sm {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 3rem; }
    .title--sm::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: -7rem;
      width: 15rem;
      height: 0.1rem;
      background-color: #e94822; }

.footer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2d34;
  color: #ffffff; }
  .footer__main {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer__meta {
    width: 100%;
    border-top: solid 0.1rem #666666;
    text-align: center;
    padding: 2rem 0; }
  .footer__socials {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__socials :not(:last-child) {
      margin-right: 4rem; }
    .footer__socials--item {
      border: solid 0.1rem #666666;
      padding: 2.5rem;
      transform-origin: 50% 50%;
      transition: ease-in-out all 0.3s;
      transform: rotate(45deg);
      cursor: pointer; }
      .footer__socials--item-icon {
        transition: ease-in-out all 0.3s;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        color: #ffffff; }
      .footer__socials--item:hover {
        border-color: #f2910a;
        transform: rotate(-45deg); }
      .footer__socials--item:hover .footer__socials--item-icon {
        transform: rotate(45deg);
        color: #f2910a; }

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.6rem;
  background-color: rgba(44, 45, 52, 0.75);
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  z-index: 100; }
  @media screen and (max-width: 1118px) {
    .navbar {
      padding: 0; } }
  .navbar__toggler {
    margin-right: 2rem;
    cursor: pointer; }
    .navbar__toggler--container {
      height: 3.5rem;
      width: auto;
      padding: 0.5rem;
      padding-left: 1.3rem;
      border: solid 1px #666666;
      display: flex;
      align-items: center;
      justify-content: center; }
    .navbar__toggler--bars {
      height: 1px;
      width: 2.5rem;
      background-color: #f8f8f8;
      position: relative; }
      .navbar__toggler--bars::before, .navbar__toggler--bars::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        margin-left: -0.7rem; }
      .navbar__toggler--bars::before {
        margin-top: -0.6rem; }
      .navbar__toggler--bars::after {
        margin-top: 0.6rem; }
  .navbar__brand {
    cursor: pointer; }
    .navbar__brand--title {
      color: #f2910a;
      letter-spacing: 0.3rem;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 200; }
  .navbar__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 100%; }
    .navbar__nav li {
      display: inline-block; }
    .navbar__nav--item:not(:last-child) {
      margin-right: 4rem; }
    .navbar__nav--link {
      color: #f8f8f8; }
      .navbar__nav--link-active {
        color: #f2910a; }
  .navbar__user {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    cursor: pointer; }
    .navbar__user--icon {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .navbar__account {
    position: relative; }
    .navbar__account:not(:hover) .navbar__account--dropdown {
      display: none; }
    .navbar__account:hover .navbar__account--dropdown {
      background-color: #2c2d34;
      padding: 1rem;
      box-shadow: 0.1rem 0.2rem 1rem rgba(44, 45, 52, 0.4);
      position: absolute;
      top: 100%;
      right: 0;
      width: 25rem;
      min-height: 5rem;
      color: #ffffff; }
  .navbar__userOptions {
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-direction: column; }
    .navbar__userOptions-link {
      color: #ffffff; }
      .navbar__userOptions-link:hover {
        color: #f2910a; }

.mt-56 {
  margin-top: 18.6rem; }

.about {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2); }
  @media screen and (max-width: 1118px) {
    .about {
      padding: 0; } }

.contact {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  min-height: 100vh;
  padding-top: 7rem; }
  @media screen and (max-width: 1118px) {
    .contact {
      padding: 0; } }
  .contact > :not(:first-child) {
    padding-left: 5rem; }
  .contact__name-email {
    display: flex;
    justify-content: space-between; }

.max-70 {
  max-width: 70rem;
  margin: auto; }

.dashall {
  padding: 2rem 1rem;
  list-style: none; }
  .dashall__item {
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-areas: "title published days routines actions";
    grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr 2fr;
    grid-gap: 1rem; }
    .dashall__item-title {
      grid-area: title; }
    .dashall__item-published {
      grid-area: published; }
    .dashall__item-days {
      grid-area: days; }
    .dashall__item-routines {
      grid-area: routines; }
    .dashall__item-actions {
      grid-area: actions; }
    .dashall__item-action {
      margin-right: 1rem; }

.day-edit {
  display: flex;
  background-color: #f8f8f8;
  min-height: 100vh; }
  .day-edit__aside {
    padding: 3rem 2rem;
    width: 20rem;
    padding-right: 2rem;
    background-color: #2c2d34; }
  .day-edit__days {
    list-style: none; }
  .day-edit__day {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer; }
    .day-edit__day-label {
      cursor: pointer; }
    .day-edit__day--checked, .day-edit__day:hover {
      background-color: #f2910a;
      color: #000000; }
  .day-edit__main {
    padding: 3rem 2rem;
    width: calc(100% - 20rem); }
  .day-edit-routine-step__container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    padding: 0 3%;
    position: relative;
    z-index: 1; }
    .day-edit-routine-step__container::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 0.2rem;
      left: 3%;
      right: 3%;
      background-color: #2c2d34;
      z-index: 0; }
  .day-edit-routine-step__item {
    z-index: 2;
    background-color: #2c2d34;
    color: #ffffff;
    border: none; }
    .day-edit-routine-step__item--visited {
      background-color: #f2910a;
      color: #000000; }
  .day-edit-routine-step__add {
    background-color: #e94822;
    color: #000000; }

.program-edit {
  padding: 2rem 3rem;
  background-color: #f8f8f8; }
  .program-edit__forms {
    margin: 4rem 0 7rem 0; }
  .program-edit__form {
    width: 100%; }

.home-header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-image: linear-gradient(to right bottom, rgba(44, 45, 52, 0.8), rgba(44, 45, 52, 0.5)), url("/images/bw-rph2.jpg");
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: unset; }
  .home-header__title {
    margin-bottom: 2rem; }
  .home-header__top {
    padding-left: calc((100% - 111.9rem) / 2);
    padding-right: calc((100% - 111.9rem) / 2);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1118px) {
      .home-header__top {
        padding: 0; } }
  .home-header__social {
    position: relative;
    align-self: stretch; }
    .home-header__social-inner {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: 0 0;
      transform: rotate(90deg);
      width: 100vh;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home-header__social-inner > :not(:last-child) {
        margin-right: 1rem; }
      .home-header__social-inner-line {
        height: 0.1rem;
        width: 4rem;
        background-color: #e94822; }
    .home-header__social-icon {
      transition: all 0.3s ease-out; }
    .home-header__social-icon:hover {
      cursor: pointer;
      color: #f2910a; }
  .home-header__bottom {
    height: 5.6rem;
    display: flex;
    align-items: stretch; }
    .home-header__bottom-space {
      flex-grow: 5;
      background-color: #ffffff; }
    .home-header__bottom-scroller {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
      .home-header__bottom-scroller > :not(:last-child) {
        margin-right: 1.6rem; }
      .home-header__bottom-scroller-arrow-forward, .home-header__bottom-scroller-arrow-back {
        cursor: pointer;
        transition: all 0.3s ease-out; }
      .home-header__bottom-scroller-arrow-forward:hover, .home-header__bottom-scroller-arrow-back:hover {
        color: #f2910a; }
      .home-header__bottom-scroller-line {
        height: 0.1rem;
        max-width: 10rem;
        flex-grow: 1;
        background-color: #ffffff; }
  .home-header__explore {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 20rem;
    height: 2rem;
    transform-origin: 0 0;
    transform: rotate(90deg); }
    .home-header__explore::after {
      position: absolute;
      content: "";
      bottom: -0.5rem;
      left: 3rem;
      width: 20rem;
      height: 0.1rem;
      background-color: #e94822; }

.welcome {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  min-height: 80vh;
  margin: 15rem 0;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 1118px) {
    .welcome {
      padding: 0; } }
  .welcome__info {
    flex: 0 0 50%; }
  .welcome__banners {
    flex: 0 0 50%;
    padding: 3rem 0; }
    .welcome__banners--top {
      width: 100%;
      display: flex;
      justify-content: center; }
      .welcome__banners--top-img {
        box-shadow: 0 4px 6px -1px rgba(44, 45, 52, 0.6), 0 2px 4px -1px rgba(44, 45, 52, 0.6);
        width: 60%; }
    .welcome__banners--bottom {
      width: 60%;
      margin-top: -10rem; }
      .welcome__banners--bottom-img {
        box-shadow: 0 4px 6px -1px rgba(44, 45, 52, 0.6), 0 2px 4px -1px rgba(44, 45, 52, 0.6);
        width: 100%;
        height: fit-content; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.clients {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  min-height: 90vh;
  position: relative;
  overflow: unset; }
  @media screen and (max-width: 1118px) {
    .clients {
      padding: 0; } }
  .clients__container {
    overflow-x: hidden;
    background-size: cover;
    background-image: linear-gradient(to right bottom, rgba(44, 45, 52, 0.9), rgba(44, 45, 52, 0.8)), url("/images/bw-rph2.jpg");
    background-position: center;
    margin-right: -20rem; }
  .clients__items {
    display: flex;
    width: 350rem;
    align-items: center;
    z-index: 2; }
  .clients__item {
    display: inline-block;
    width: 23rem;
    height: 50rem;
    position: relative;
    overflow: hidden;
    transition: transform ease-in-out 0.3s, z-index 0s; }
    .clients__item--img {
      transition: filter ease-in-out 0.3s;
      filter: brightness(45%); }
    .clients__item:nth-child(even) {
      height: 44rem; }
    .clients__item:hover .clients__item--img {
      filter: brightness(80%); }
    .clients__item:hover {
      box-shadow: 0 4px 6px -1px rgba(44, 45, 52, 0.6), 0 2px 4px -1px rgba(44, 45, 52, 0.6);
      transform: scale(1.1);
      z-index: 1; }
    .clients__item--meta {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      flex-direction: column;
      justify-content: flex-end;
      transition: opacity ease-in-out 0.3s; }
    .clients__item:hover .clients__item--meta {
      opacity: 1; }
    .clients__item--testimonial {
      margin-top: auto;
      background-color: rgba(44, 45, 52, 0.8);
      color: #ffffff;
      transition: all ease-in-out 0.3s;
      transform: translateY(calc(100% - 5rem)); }
    .clients__item--testimonial:hover {
      transform: translateY(0%); }
    .clients__item--name {
      background-color: #ffffff;
      color: #666666;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      cursor: pointer; }
    .clients__item--testimonial-message {
      padding: 0.8rem; }
  .clients__scrollbar {
    position: absolute;
    bottom: 3%;
    left: 50%;
    height: 0.1rem;
    width: 20rem;
    background-color: #e94822;
    transform-origin: 0 0;
    transform: rotate(90deg);
    z-index: 0; }

.services {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: unset;
  margin: 20rem 0; }
  @media screen and (max-width: 1118px) {
    .services {
      padding: 0; } }
  .services__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between; }
  .services__main {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column; }
  .services__service-item {
    width: 100%;
    height: auto;
    position: relative; }
    .services__service-item--desc {
      margin: 0 auto;
      max-width: 60%; }
    .services__service-item--img {
      max-width: 60%;
      max-height: 70vh;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 0 4px 6px -1px rgba(44, 45, 52, 0.6), 0 2px 4px -1px rgba(44, 45, 52, 0.6); }
      .services__service-item--img img {
        transition: transform 0.3s ease-in-out;
        filter: brightness(45%); }
      .services__service-item--img:hover img {
        transform: scale(1.1) translateY(-2rem); }
      .services__service-item--img:hover .services__service-item--img-meta {
        transform: translateY(0%); }
    .services__service-item--img-meta {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      transition: transform 0.5s ease-in-out;
      transform: translateY(100%); }
      .services__service-item--img-meta p {
        width: 100%;
        padding: 1.2rem 0;
        margin-top: auto;
        background-color: #ffffff;
        color: #2c2d34; }
  .services__second {
    flex: 0 0 50%; }

.home-programmes {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  position: relative; }
  @media screen and (max-width: 1118px) {
    .home-programmes {
      padding: 0; } }
  .home-programmes__top {
    display: flex;
    justify-content: space-between; }
    .home-programmes__top-container {
      flex-grow: 1;
      max-width: 85rem;
      margin: 0 auto; }
  .home-programmes__description {
    max-width: 50rem; }
  .home-programmes__bottom {
    margin: 3rem auto;
    max-width: 85rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
    position: relative; }
  .home-programmes__item {
    padding: 5rem;
    box-shadow: 0 4px 6px -1px rgba(44, 45, 52, 0.6), 0 2px 4px -1px rgba(44, 45, 52, 0.6);
    max-width: 37rem;
    flex-grow: 1;
    border-radius: 0.4rem; }
    .home-programmes__item-1 {
      transform: translateX(3rem);
      z-index: 10;
      background-color: #e94822;
      color: #000000; }
    .home-programmes__item-2 {
      transform: translateY(-12rem);
      background-color: #2c2d34;
      color: #e94822; }
    .home-programmes__item-ul {
      list-style: none; }
    .home-programmes__item-li {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      line-height: 1; }

.profile {
  min-height: 100vh; }
  .profile__purchases--title {
    padding-top: 7rem;
    background-color: #141219;
    padding-left: calc((100% - 111.9rem) / 2);
    padding-right: calc((100% - 111.9rem) / 2);
    margin-bottom: 3rem; }
    @media screen and (max-width: 1118px) {
      .profile__purchases--title {
        padding: 0; } }
    .profile__purchases--title-item {
      padding: 3rem 0; }
  .profile__purchases--programs {
    padding-left: calc((100% - 111.9rem) / 2);
    padding-right: calc((100% - 111.9rem) / 2); }
    @media screen and (max-width: 1118px) {
      .profile__purchases--programs {
        padding: 0; } }
  .profile--none {
    padding-top: 7rem;
    padding-left: calc((100% - 111.9rem) / 2);
    padding-right: calc((100% - 111.9rem) / 2); }
    @media screen and (max-width: 1118px) {
      .profile--none {
        padding: 0; } }
  .profile__programs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap; }

.small-program {
  width: 41rem;
  height: 30rem;
  position: relative;
  display: inline-block;
  background-color: #2c2d34;
  color: #ffffff;
  margin-bottom: 7rem;
  margin-right: auto;
  margin-left: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(44, 45, 52, 0.3); }
  .small-program__bg {
    width: 100%;
    height: 100%;
    opacity: 0.3; }
    .small-program__bg--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .small-program__content {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }

.p-program {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: solid 1px #666666;
  padding: 2rem 0; }
  .p-program:not(:last-child) {
    margin-bottom: 3rem; }
  .p-program__info {
    flex-grow: 1;
    flex-shrink: 0; }
  .p-program__meta {
    display: flex;
    align-items: center; }

.program-header {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }
  @media screen and (max-width: 1118px) {
    .program-header {
      padding: 0; } }
  .program-header__content {
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; }
    .program-header__content--inner {
      flex: 0 0 50%; }

.program {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  display: flex;
  align-items: center;
  min-height: 70vh;
  margin: 7rem 0;
  overflow: hidden; }
  @media screen and (max-width: 1118px) {
    .program {
      padding: 0; } }
  .program__banner {
    flex: 0 0 50%;
    margin-bottom: 4rem; }
    .program__banner--inner {
      height: auto;
      margin-left: 7rem;
      position: relative; }
    .program__banner--bg {
      position: absolute;
      transform-origin: left top;
      transform: skewY(25deg);
      top: 5%;
      left: -7rem;
      width: 20rem;
      height: 90%;
      display: flex;
      flex-direction: column;
      z-index: -1; }
      .program__banner--bg-item {
        background-color: #e94822; }
        .program__banner--bg-item:not(:last-child) {
          margin-bottom: 1rem; }
        .program__banner--bg-item:nth-child(1) {
          height: 35%; }
        .program__banner--bg-item:nth-child(2) {
          height: 20%; }
        .program__banner--bg-item:nth-child(3) {
          height: 20%; }
        .program__banner--bg-item:nth-child(4) {
          height: 15%; }
        .program__banner--bg-item:nth-child(5) {
          height: 10%; }
    .program__banner--img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .program__info {
    flex: 0 0 50%;
    margin-left: 3rem; }
    .program__info > * {
      max-width: 45rem; }

.program-sales {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2); }
  @media screen and (max-width: 1118px) {
    .program-sales {
      padding: 0; } }
  .program-sales-article {
    padding: 5rem 2rem; }

.user-workout {
  padding-left: calc((100% - 111.9rem) / 2);
  padding-right: calc((100% - 111.9rem) / 2);
  padding-top: 7rem;
  min-height: 100vh; }
  @media screen and (max-width: 1118px) {
    .user-workout {
      padding: 0; } }
  .user-workout__container {
    display: flex; }
  .user-workout__aside {
    flex: 0 0 20rem;
    padding: 3rem 0; }
  .user-workout__aside-banner-container {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05); }
  .user-workout__aside-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); }
  .user-workout__day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem; }
    .user-workout__day--completed {
      background-color: #666666;
      color: #000000; }
    .user-workout__day--selected, .user-workout__day:hover {
      background-color: #f2910a; }
  .user-workout__main {
    padding: 3rem;
    width: calc(100% - 20rem); }
  .user-workout__routines {
    display: flex; }
    .user-workout__routines-nav {
      flex: 0 0 30rem; }
  .user-workout__routine {
    flex: 0 0 calc(100% - 30rem);
    display: flex;
    flex-direction: column; }
    .user-workout__routine-video-container {
      flex: 0 0 50%; }
    .user-workout__routine-info {
      flex: 0 0 50%; }
