.btn {
    &,
    &:visited,
    &:link {
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        background-clip: padding-box;
        transition: all 0.3s ease-out;
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px solid $color-text-light;
        color: $color-light;
        font-family: $font-condensed;
        font-size: $font-size;
        letter-spacing: 0.2rem;
        font-weight: lighter;
    }

    &--secondary {
        border-color: $color-secondary;
        color: $color-secondary;
    }

    &:hover {
    }

    // &:active,
    // &:focus {
    //     outline: none;
    //     transform: translateY(0.2rem);
    //     box-shadow: 0 0.5rem 1rem rgba($color-grey-dark, 0.3);
    // }

    // &--primary,
    // &--primary:visited,
    // &--primary:link {
    //     background-color: $color-primary-light;
    // }

    // &--secondary,
    // &--secondary:visited,
    // &--secondary:link {
    //     background-color: $color-secondary-light;
    // }

    // &--tertiary,
    // &--tertiary:visited,
    // &--tertiary:link {
    //     background-color: $color-tertiary-light;
    // }
}
