.btn {
    &,
    &:visited,
    &:link {
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        background-clip: padding-box;
        transition: all 0.3s ease-out;
        padding: 1rem 2rem;
        background-color: transparent;
        font-family: $font-condensed;
        font-size: $font-size;
        letter-spacing: 0.2rem;
        font-weight: lighter;
        border: 1px solid;
        border-color: currentColor;
    }
    &--light {
        border-color: $color-text-light;
        color: $color-light;
    }

    &--primary {
        color: $color-primary;
    }

    &--secondary {
        color: $color-secondary;
    }

    &--tertiary {
        color: $color-tertiary;
    }

    &__link {
        border: none !important;
        padding: 0.5rem 0 !important;
        position: relative !important;
        color: currentColor;

        &--secondary {
            &::after {
                @include btn__link--after;
                background-color: $color-secondary;
            }
        }

        &--light {
            &::after {
                @include btn__link--after;
                background-color: $color-light;
            }
        }

        &--primary {
            &::after {
                @include btn__link--after;
                background-color: $color-primary;
            }
        }

        &--tertiary {
            &::after {
                @include btn__link--after;
                background-color: $color-tertiary;
            }
        }
    }

    &:hover {
    }

    // &:active,
    // &:focus {
    //     outline: none;
    //     transform: translateY(0.2rem);
    //     box-shadow: 0 0.5rem 1rem rgba($color-grey-dark, 0.3);
    // }

    // &--primary,
    // &--primary:visited,
    // &--primary:link {
    //     background-color: $color-primary-light;
    // }

    // &--secondary,
    // &--secondary:visited,
    // &--secondary:link {
    //     background-color: $color-secondary-light;
    // }

    // &--tertiary,
    // &--tertiary:visited,
    // &--tertiary:link {
    //     background-color: $color-tertiary-light;
    // }
}
