.welcome {
    @include content-width-lg;

    min-height: 80vh;
    margin: 15rem 0;
    display: flex;
    justify-content: center;

    &__info {
        flex: 0 0 50%;
    }

    &__banners {
        flex: 0 0 50%;

        &--top {
            width: 100%;
            display: flex;
            justify-content: center;
            &-img {
                width: 60%;
            }
        }

        &--bottom {
            width: 60%;
            margin-top: -10rem;
            box-shadow: 1rem 0.7rem 2rem 0.3rem rgba($color-primary, 0.6);

            &-img {
                width: 100%;
            }
        }
    }
}
