html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 58%;
    }

    @include respond(tab-port) {
        font-size: 54%;
    }

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-white;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
    line-height: 1;
}

img,
span,
a {
    display: inline-block;
}

h1,
h2,
h3 {
    // all: unset;
    font-weight: unset;
}
