html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: $color-white;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 1;
}

img,
span,
a {
    display: inline-block;
}

section,
header,
footer {
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    // all: unset;
    font-weight: unset;
}
