body {
    // letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    color: $color-text-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-weight: 300;
    font-size: $font-size;
    font-family: $font-barlow;
}

p:not(.title) {
    line-height: 1.32;
}

// .text__background--gradient-primary {
//     color: transparent;
//     background-image: linear-gradient(
//         to bottom right,
//         $color-primary-light,
//         $color-primary-dark
//     );
//     -webkit-background-clip: text;
//     display: inline-block;
//     transition: all ease-out 500ms;
//     font-size: 4rem;

//     &:hover {
//         background-image: linear-gradient(
//             to top left,
//             $color-primary-light,
//             $color-primary-dark
//         );
//     }
// }

a {
    text-decoration: none;
}
li a {
    text-decoration: underline;
    color: #0288d1;
}
.mdl-card {
    overflow: visible;
}
.grecaptcha-logo {
    background-color: white;
}
.mdl-grid {
    max-width: 1024px;
    margin: auto;
}
.mdl-layout__header-row {
    padding: 0;
}
.quickstart-user-details-container,
.user-details-container {
    margin-top: 20px;
    line-height: 25px;
}
#quickstart-sign-in-status,
#sign-in-status {
    font-weight: bold;
}
pre {
    overflow-x: scroll;
    line-height: 18px;
}
code {
    white-space: pre-wrap;
    word-break: break-all;
}

#verification-code-form {
    display: none;
}
#recaptcha-container {
    margin-top: 10px;
    margin-bottom: 20px;
}
#verify-code-button,
#cancel-verify-code-button {
    margin-left: 20px;
}
#sign-out-button {
    display: none;
}
#sign-in-card {
    z-index: 2;
}
