body {
    // letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    color: $color-text-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: $font-size;
    font-weight: 300;
    font-family: $font-barlow;
}

// .text__background--gradient-primary {
//     color: transparent;
//     background-image: linear-gradient(
//         to bottom right,
//         $color-primary-light,
//         $color-primary-dark
//     );
//     -webkit-background-clip: text;
//     display: inline-block;
//     transition: all ease-out 500ms;
//     font-size: 4rem;

//     &:hover {
//         background-image: linear-gradient(
//             to top left,
//             $color-primary-light,
//             $color-primary-dark
//         );
//     }
// }
