.opacity-0 {
    opacity: 0 !important;
}

.bolder {
    font-weight: 400 !important;
}

.font-smaller {
    font-size: 1.5rem;
}

.font-xsm {
    font-size: 1rem !important;
    line-height: 0.9 !important;
}

.ml-7 {
    margin-left: 6.5rem !important;
    @include respond(phone) {
        margin-left: 4rem !important;
    }
}

.mb-7 {
    margin-bottom: 6.5rem !important;
}

.pl-7 {
    padding-left: 6.5rem !important;
}

.pt-7 {
    padding-top: 6.5rem !important;
}

.pr-2 {
    padding-right: 2rem !important;
}

.mr-3 {
    margin-right: 3rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-7 {
    margin-top: 7rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-sm {
    margin-bottom: 0.5rem !important;
}

.mt-auto {
    margin-top: auto;
}

.mx-auto {
    margin: initial auto !important;
}

.text-light {
    color: $color-light !important;
}

.text-black {
    color: $color-black !important;
}

.text-white {
    color: $color-white !important;
}

.text-secondary {
    color: $color-secondary !important;
}

.text-tertiary {
    color: $color-tertiary !important;
}

.text-tertiary-2 {
    color: $color-tertiary-2 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-inline-block {
    display: inline-block;
}

.d-inline-flex {
    display: inline-flex;
}

.w-auto {
    width: auto !important;
}

.w-100 {
    width: 100%;
}

.ml-auto {
    margin-left: auto;
}

.check-box {
    vertical-align: center;
    text-align: center;

    &-35 {
        width: 3.5rem;
        height: 3.5rem;
    }

    &-25 {
        width: 2.5rem;
        height: 2.5rem;
    }

    & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.8;
    }
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
