.a-programs {
    display: flex;
    flex-direction: column;
}

.a-program {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2rem;
    border-bottom: solid 0.1rem $color-text-light;
    margin-bottom: 2rem;

    &__delete-modal {
        background-color: $color-light;
        padding: 6rem 3rem;
    }
}
