.program-edit {
    padding: 2rem 3rem;
    background-color: $color-light;

    &__forms {
        @include shadow-sm;
        @include border-sm-eee;
        margin: 4rem 0 7rem 0;
        background-color: $color-white;
        padding: 3rem 2rem;
    }

    &__form {
        width: 100%;
    }
}
