.profile {
    @include content-width-lg;
    min-height: 100vh;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        &--img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__nav {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        border-bottom: solid 0.1rem $color-light;
        margin-bottom: 3rem;

        &--item {
            padding: 0.8rem 0;
            transition: color ease-in-out 0.3s;

            &:hover {
                color: $color-black;
            }

            &-label {
                cursor: pointer;
                padding: 0.7rem 0;
            }

            &-check:checked + &-label {
                border-bottom: solid 0.1rem $color-primary;
            }

            &-check {
                display: none;
            }

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    &__program {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: solid 1px $color-light;

        @include respond-mobile-first(tab-land) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
