.uw {
    &__main {
        margin: 3rem 0;
        width: 100%;
        overflow: hidden;
        position: relative;

        &--content {
            transition: left ease 0.5s;
            width: 300%;
            position: absolute;
            min-height: 30vh;
            top: 0;
            left: 0;
            display: flex;
        }

        &--weeks {
            flex-basis: 100%;
            & > :first-child {
                @include content-width-lg;
            }
        }

        &--routines {
            flex-basis: 100%;
            & > :first-child {
                @include content-width-lg;
            }
        }

        &--routine {
            flex-basis: 100%;
            & > :first-child {
                @include content-width-lg;
            }
        }

        @include respond-mobile-first(desktop) {
            &--content {
                width: 200%;
            }

            &--weeks {
                flex-basis: 50%;
                & > :first-child {
                    padding: 0;
                    padding-left: 10rem;
                }
            }

            &--routines {
                flex-basis: 50%;
                & > :first-child {
                    padding: 0;
                    padding-right: 10rem;
                }
            }

            &--routine {
                flex-basis: 100%;
                & > :first-child {
                    @include content-width-lg;
                }
            }
        }
    }

    &__header {
        position: relative;
        width: 100%;
        height: auto;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(40%);
        }

        &--content {
            position: absolute;
            @include absolute-cover;
            @include content-width-lg;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            color: $color-white;
        }
    }

    &__week {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all ease-in-out 0.5s;

        &--checkbox {
            display: none;
        }

        &--label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            background-color: white;
            border-bottom: 0.1rem solid $color-text-light;
            flex: 0 0 7rem;
        }

        &--days {
            z-index: 1;
            flex-grow: 1;
            list-style: none;
            padding-left: 2rem;
        }

        &--checkbox ~ &--label > &--label-minus {
            display: none;
        }

        &--checkbox ~ &--label > &--label-plus {
            display: inline-block;
        }

        &--checkbox:checked ~ &--label > &--label-minus {
            display: inline;
        }

        &--checkbox:checked ~ &--label > &--label-plus {
            display: none;
        }

        &--day {
            padding-top: 2rem;
            display: block;
            cursor: pointer;
        }

        &--checkbox ~ &--days {
            transition: all ease-in-out 0.5s;
            transform: translateY(-110%);
            height: 0;
        }

        &--checkbox:checked ~ &--days {
            transform: translateY(0);
            height: 100%;
        }
    }
}
