.user-workout {
    display: flex;
    padding-top: 5.6rem;
    @include content-width-lg;

    &__aside {
        width: 20rem;
        padding: 3rem 3rem 3rem 0;
    }

    &__aside-banner {
        width: 100%;
        height: auto;
        @include shadow-sm;
    }

    &__main {
        padding: 3rem;
        width: calc(100% -20rem);
        overflow-x: hidden;
    }

    &__routine {
        display: flex;

        &-video-container {
            flex: 0 0 50%;
        }

        &-info {
            flex: 0 0 50%;
        }
    }
}
